body {
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style:  none;
}

.container,
.header-container,
.main-container,
.simulator-container,
.news-container,
.client-container,
.contact-container,
.footer-container,
.menu-container,
.about-us-container,
.milestones-container,
.latest-news-container,
.award-certificate-container,
.our-clients-container,
.business-container,
.product-container,
.top-bar-container,
.menu-tag,
.contact-menu-container {
    margin: 0 auto;
    padding: 0 260px;
    overflow: hidden;
    position: relative;
}

.menu-tag {
    position: absolute;
    top: 150px;
    z-index: 1600;
    color: var(--gray500);
}

.menu-tag a {
    color: var(--gray500);
}

@media screen and (min-width: 710px) and (max-width: 1600px) {
    .container,
    .header-container,
    .main-container,
    .simulator-container,
    .news-container,
    .client-container,
    .contact-container,
    .footer-container,
    .menu-container,
    .about-us-container,
    .milestones-container,
    .latest-news-container,
    .award-certificate-container,
    .our-clients-container,
    .business-container,
    .product-container,
    .top-bar-container,
    .contact-menu-container,
    .menu-tag {
        max-width: 1400px;
        margin: 0 0;
        padding: 0 60px;
        position: relative;
    }

    .row {
        flex-direction: column !important;
    }

    .col iframe {
        height: 400px;
        padding-bottom: 60px;
    }

    .menu-tag {
        top: 40px !important;
    }

    .nav-menu {
        display: none !important;
    }

    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 40px;
        display: block !important;
    }

    .side-nav-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 400px;
        height: 100%;
        background-color: #fff;
        box-shadow: -10px 0 30px rgba(0,0,0,0.1);
        z-index: 1000;
        box-sizing: border-box;
        display: none !important;
    }

    .side-nav-menu.active {
        display: flex !important;
        z-index: 1100;
    }

    .close-menu {
        top: 45px;
        right: 45px;
        display: block;
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .product-list-menu,
    .heavy-equipment-menu,
    .safety-training-accident-experience-menu,
    .manufacturing-menu,
    .shipbuilding-industry-menu,
    .culture-tourism-menu {
        position: absolute;
        top: 0;
        right: 0;
        left:0;
        width: 400px;
        height: 100%;
        background-color: #fff;
        box-shadow: none;
        flex-direction: column;
        display: none;
        z-index: 1200;
    }

    .product-list-menu.active,
    .heavy-equipment-menu.active,
    .safety-training-accident-experience-menu.active,
    .manufacturing-menu.active,
    .shipbuilding-industry-menu.active,
    .culture-tourism-menu.active {
        display: flex !important;
    }

    .product-button {
        background: none;
        border-style: none;
        padding: 0 0;
        width: 100%;
        text-align: left;
    }

    .side-nav-menu ul {
        padding-top: 80px !important;
        flex-direction: column;
        width: 100%;
    }
    
    .side-nav-menu ul li {
        width: 100%;
        text-align: left;
    }
    
    .side-nav-menu ul li a {
        padding: 15px 40px;
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: #000;
    }
    
    .side-nav-menu ul li a:hover {
        background-color: #f1f1f1;
    }

    .side-nav-menu .business-button {
        color: #fff;
        margin: 15px 40px;
    }

    .product-back-button {
        top: 45px;
        left: 35px;
        display: block;
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .simulator-container {
        display: block !important;
        padding: 0 160px;
    }
    .simulator {
        width: 100% !important;
        margin-bottom: 40px;
    }
    .news-wrapper,
    .client-wrapper {
        width: 80% !important;
    }
    .news-item {
        flex: 0 0 calc(50% - 10px) !important;
    }

    .client-logo {
        flex: 0 0 calc(33% - 10px) !important;
    }

    #news-prev-button,
    #client-prev-button {
        left: 100px !important;
    }

    #news-next-button,
    #client-next-button {
        right: 100px !important;
    }

    .contact-container {
        display: block !important;
    }

    .contact-info {
        width: 100% !important;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
    }

    .contact-subtitle {
        position: absolute;
        top: 60px;
        width: 40%;
    }

    .contact-map {
        width: calc(50% - 20px);
        margin-top: 0 !important;
        margin-bottom: 0;
        max-width: 50% !important;
    }

    .contact-form {
        max-width: none !important;
        margin: auto;
    }

    .contact-button {
        width: calc(50% - 80px);
        max-width: 600px;
        left: 50%;
        transform: translateX(-30%);
    }

    .footer-sections {
        justify-content: flex-start !important;
    }

    .footer-container {
        height: 440px !important;
    }

    .footer-info-detail-section {
        justify-content: space-around;
        flex-direction: column;
    }

    .privacy {
        left: 60px !important;
    }

    #paging li {
        display: none !important;
    }

    #paging li:first-child,
    #paging li:nth-child(2),
    #paging li:last-child,
    #paging li:nth-last-child(2) {
        display: inline-block !important; /* 기본적으로 맨 처음, 이전, 맨 마지막, 다음 항목은 항상 표시 */
    }

    #paging li:nth-child(-n+7) {
        display: inline-block !important;
    }

    /* About Us */

    .milestones-list {
        justify-content: center;
        flex-direction: column;
    }

    .milestones-item {
        width: auto !important;
        margin: 20px 0 !important;
    }

    /* Our Clients */

    .our-clients-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    /* Award Certificate */

    .award-certificate-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    /* Business */

    .contact-partner-item,
    .contact-product-item {
        width: auto !important;
        margin: 20px 0 !important;
    }
}

@media screen and (max-width: 700px) {
    .container,
    .header-container,
    .main-container,
    .simulator-container,
    .news-container,
    .client-container,
    .contact-container,
    .footer-container,
    .menu-container,
    .about-us-container,
    .milestones-container,
    .latest-news-container,
    .award-certificate-container,
    .our-clients-container,
    .business-container,
    .product-container,
    .top-bar-container,
    .contact-menu-container,
    .menu-tag {
        max-width: 600px;
        margin: 0 0;
        padding: 0 40px;
        position: relative;
    }

    .menu-tag {
        top: 40px !important;
    }

    .row {
        flex-direction: column !important;
    }

    .col iframe {
        height: 400px;
        padding-bottom: 60px;
    }

    .top-bar-info {
        font-size: 9pt !important;
    }

    .nav-menu {
        display: none !important;
    }

    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 40px;
        display: block !important;
    }
    .side-nav-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        background-color: #fff;
        box-shadow: -10px 0 30px rgba(0,0,0,0.1);
        z-index: 1000;
        box-sizing: border-box;
        display: none !important;
    }

    .side-nav-menu.active {
        display: flex !important;
        z-index: 1100;
    }

    .close-menu {
        top: 70px;
        right: 45px;
        display: block;
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .product-list-menu,
    .heavy-equipment-menu,
    .safety-training-accident-experience-menu,
    .manufacturing-menu,
    .shipbuilding-industry-menu,
    .culture-tourism-menu {
        position: absolute;
        top: 0;
        right: 0;
        left:0;
        width: 400px;
        height: 100%;
        background-color: #fff;
        box-shadow: none;
        flex-direction: column;
        display: none;
        z-index: 1200;
    }

    .product-list-menu.active,
    .heavy-equipment-menu.active,
    .safety-training-accident-experience-menu.active,
    .manufacturing-menu.active,
    .shipbuilding-industry-menu.active,
    .culture-tourism-menu.active {
        padding-top: 30px;
        display: flex !important;
    }

    .product-button {
        background: none;
        border-style: none;
        padding: 0 0;
        width: 100%;
        text-align: left;
    }

    .side-nav-menu ul {
        padding-top: 110px !important;
        flex-direction: column;
        width: 100%;
    }
    
    .side-nav-menu ul li {
        width: 100%;
        text-align: left;
    }
    
    .side-nav-menu ul li a {
        padding: 15px 40px;
        font-size: 18px;
        display: block;
        text-decoration: none;
        color: #000;
    }
    
    .side-nav-menu ul li a:hover {
        background-color: #f1f1f1;
    }

    .side-nav-menu .business-button {
        color: #fff;
        margin: 15px 40px;
    }

    .product-back-button {
        top: 70px;
        left: 35px;
        display: block;
        position: absolute;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .logo {
        width: 160px !important;
        height: 36px !important;
    }

    .main-title,
    .main-container .main-background h1 {
        font-size: 30px !important;
    }

    .main-background p {
        top: 50px !important;
        font-size: 18px !important;
    }

    .cta-button {
        font-size: 16px !important;
    }

    .menu-detail-button {
        text-align: center;
        margin-top: 28px !important;
        position:static !important;
    }

    .simulator-container {
        display: block !important;
        padding: 0 40px;
    }

    .simulator {
        width: 100% !important;
        margin-bottom: 40px;
        position: relative;
    }

    .simulator iframe {
        height: 60% !important;
    }

    .section-title,
    .client-title,
    .ontact-title {
        font-size: 36px !important;
        text-align: center;
    }

    .section-subtitle,
    .client-subtitle,
    .contact-subtitle {
        font-size: 18px !important;
    }

    .news-wrapper,
    .client-wrapper {
        width: 80% !important;
    }

    .news-item {
        flex: 0 0 calc(100%) !important;
    }

    #news-prev-button {
        left: 40px !important;
    }

    #news-next-button {
        right: 40px !important;
    }

    .client-logo {
        flex: 0 0 calc(50% - 10px) !important;
    }

    #client-prev-button {
        top: 250px !important;
        left: 40px !important;
    }

    #client-next-button {
        top: 250px !important;
        right: 40px !important;
    }

    .contact-container {
        display: block;
    }
    .contact-product-item,
    .contact-partner-item {
        margin: 10px 0 !important;
    }

    .contact-info {
        display: block;
        width: 100% !important;
    }

    .contact-subtitle {
        width: 60% !important;
    }

    .contact-map {
        max-width: 100% !important;
        margin-bottom: 0 !important;
    }

    .contact-form {
        width: 100% !important;
        height: 720px !important;
    }

    .footer-container {
        height: 790px !important;
    }

    .footer-sections {
        display: block !important;
    }

    .footer-info-section {
        width: 100% !important;
        text-align: center;
    }

    .footer-subtitle {
        padding-top: 10px !important;
        width: 50% !important;
        margin: 10px auto;
        text-align: center !important;
    }

    .social-icons {
        padding-top: 0 !important;
        justify-content: center;
    }

    .footer-info-detail-section {
        width: 100% !important;
        justify-content: space-around;
        flex-direction: column;
    }

    .footer-info-detail-section1,
    .footer-info-detail-section1 {
        width: 100% !important;
        position: none !important;
        margin-left: 0 !important;
    }

    .footer-bottom {
        height: 140px !important;
    }

    .privacy {
        transform: translateX(-50%) !important;
        left: 50% !important;
    }

    .copyright {
        bottom: 20px !important;
    }

    .flagList {
        padding-top: 40px;
    }

    #paging li {
        display: none !important;
    }

    #paging li:first-child,
    #paging li:nth-child(2),
    #paging li:last-child,
    #paging li:nth-last-child(2) {
        display: inline-block !important; /* 기본적으로 맨 처음, 이전, 맨 마지막, 다음 항목은 항상 표시 */
    }

    #paging li:nth-child(-n+5) {
        display: inline-block !important;
    }

    /* About Us */

    .milestones-list {
        justify-content: center;
        flex-direction: column;
    }

    .milestones-item {
        width: auto !important;
        margin: 20px 0 !important;
    }

    /* News */
    
    .latest-news-item {
        flex-direction: column;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        margin-bottom: 40px !important;
    }

    .latest-news-item img {
        width: 100% !important;
    }

    .latest-news-info {
        padding: 20px;
    }
    
    /* Our Clients */

    .our-clients-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* Award Certificate */

    .award-certificate-list {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* Business */

    .col {
        width: auto !important;
    }

    /* Business */
    
    .contact-partner-item,
    .contact-product-item {
        width: auto !important;
        margin: 20px 0 !important;
    }
}

.menu-background {
    display: fixed;
}

.side-nav-menu {
    display: none;
}

.menu-toggle {
    display: none;
}

.header-container {
    border-bottom: 1px solid var(--gray200);
    height: 80px;
    background: #fff;
    z-index: 1000 !important;
    overflow: visible !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    float: left;
    width: 200px;
    height: 46px;
}

.top-bar {
    background-color: var(--simgNavy);
    color: var(--white);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: right;
}

.top-bar-info {
    display: flex;
    align-items: center;
    font-size: 11pt;
    opacity: 0.6;
    margin-right: 30px;
}

.top-bar-info img {
    margin-right: 10px;
}

.social-buttons {
    display: flex;
    gap: 16px;
}

.social-buttons img {
    height: auto;
    width: 20px;
    opacity: 0.6;
}

.social-buttons a:last-child {
    padding-top: 2.2px;
}

.social-buttons a {
    background: none;
    border: none;
    cursor: pointer;
}

.social-buttons a:hover {
    border: none;
    background: none;
}

.main-container {
    background-image: url(/WebContent/images/img-index-background.png);
    background-size: cover;
    height: 380px;
    align-content: center;
}

.main-first-category {
    font-size: 32px;
    color: #FF601A;
    text-align: left;
    display: block;
    position: absolute;
    bottom: 87px;
}

.main-title {
    font-size: 32px;
    font-weight: 900;
    color: var(--white);
    text-align: left;
    display: inline-block;
    background-color: var(--simgTangerine);
    padding: 10px 30px 10px 20px;
    margin: 0;
    position: relative;
    clip-path: polygon(0 0, 90% 0%, 100% 100%, 0% 100%);
}

.line-title {
    color: var(--simgTangerine);
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.nav-menu {
    float: right;
    position: relative;
}

.nav-menu {
    display: flex;
}

.nav-menu a {
    display: block;
    position: relative;
    text-decoration: none !important;
    font-weight: 500;
    padding: 29px 15px;
    font-size: 16px;
    color: #000;
}

.nav-business-area {
    align-content: center;
}

.nav-business-area a::after {
    align-content: center;
}

.nav-business-area a {
    color: var(--white);
}

.nav-menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: var(--simgNavy);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.nav-menu a:hover::after {
    width: 100%;
}

.nav-menu li:hover .dropdown,
.nav-menu li:focus-within .dropdown,
.dropdown:hover {
    display: block;
    position: absolute;
    top: 82px;
    left: 86px;
    z-index: 1020 !important;
}

.dropdown {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1200 !important;
    padding: 10px !important;
}

.dropdown li {
    padding: 5px 0 !important;
    margin: 0 0;
    white-space: nowrap;
    display: block;
    position: relative;
}
.dropdown li:first-child {
    padding-top: 0px !important;
}

.dropdown li a {
    text-align: left;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: block;
    margin: 0 0;
    padding: 10px;
    position: relative;
}

.dropdown li a:hover {
    color: var(--simgNavy);
    position: relative;
}
.dropdown li:hover .dropdown-submenu {
    display: block;
    z-index: 1300 !important;
}

.dropdown-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1300 !important;
}

.dropdown-submenu {
    list-style: none;
    padding: 10px;
    margin: 0 0;
}

.dropdown-submenu li {
    padding: 12px 16px;
    white-space: nowrap;
    display: block;
}

.dropdown-submenu li a {
    text-align: left;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-submenu li a:hover {
    color: var(--simgNavy);
}

.header-arrow {
    width: 16px;
    height: 16px;
    text-align: center;
    margin-left: 8px;
}

.business-button {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 14px 20px !important;
    background-color: #25AAE2;
}

.business-button:hover {
    background-color: #105a7a;
    color: #fff;
}

.menu-container {
    height: 300px;
    background: url('/WebContent/images/img-title-backgroundMenu.png') no-repeat center center;
    background-size: cover;
}

.main-background {
    color: #fff;
    text-align: left;
    align-content: center;
    width: 100%;
    height: 360px;
    position: relative;
    z-index: 1 !important;
}

.main-background h1 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.main-background-message {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 100px;
}

.main-background-sub-message {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    opacity: 0.6;
    text-align: left;
    position: absolute;
    top: 140px;
}

.cta-button {
    background: #FF601A;
    color: #fff;
    padding: 14px 30px 13px 30px;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 180px;
}

.simulator-container {
    margin: 60px 0;
    display: flex;
    justify-content: center;
}

.simulator {
    width: 680px;
    height: 553px;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-right: 40px;
    overflow: hidden;
}
.simulator:last-child {
    margin-right: 0;
}

.simulator iframe {
    width: 100%;
    height: 73%;
}

.simulator-info {
    text-align: left;
    position:relative;
}

.simulator-type {
    margin: 20px 0 0 30px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #ff601a;
}

.simulator-title {
    margin: 10px 0 0 30px;
    font-size: 30px;
    font-weight: Bold;
    text-align: left;
    color: #000;
}

.simulator-description {
    margin: 10px 0 0 30px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #808080;
}

.menu-detail-button {
    font-size: 20px;
    display: block;
    background: linear-gradient(to right, #25aae2, #2d5fab);
    color: #fff;
    padding: 18px 32px 15px 32px;
    text-decoration: none;
    position: absolute;
    top: 18px;
    bottom: 18px;
    right: 40px;
}

.news-container {
    background: #f5f5f5;
}

.button-arrow {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#news-prev-button {
    top: 390px;
    left: 210px;
}

#news-next-button {
    top: 390px;
    right: 210px;
}

#client-prev-button {
    top: 270px;
    left: 210px;
}

#client-next-button {
    top: 270px;
    right: 210px;
}

.section-title {
    padding-top: 60px;
    font-size: 42px;
    font-weight: 800;
    text-align: center;
}

.section-subtitle {
    flex-grow: 0;
    margin: 3px 0 40px 0;
    opacity: 0.6;
    font-size: 22px;
    text-align: center;
    color: #141a37;
}

.news-wrapper,
.client-wrapper {
    margin: 0 auto;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.news-wrapper {
    height: 420px;
}

.news-carousel,
.client-carousel {
    display: flex;
    transition: transform 400ms ease;
    width: 100%;
}

.news-item {
    flex: 0 0 calc(25% - 20px);
    background: #fff;
    border: 1px solid #ddd;
    margin: 0 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease;
    flex-shrink: 0; 
}
.news-item:first-child {
    margin: 0 10px 0 0;
}
.news-item:last-child {
    margin: 0 0 0 10px;
}

.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 30px;
    height: 154px;
    position: relative;
}

.news-category {
    color: #ff601a;
    display: block;
    font-size: 14px;
}

.news-date {
    position: absolute;
    display: block;
    top: 30px;
    right: 30px;
    display: 100;
    color: #999;
    font-size: 14px;
    text-align: right;
}

.news-title {
    padding-top: 4px;
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-description {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}

.news-detail-button {
    font-size: 18px;
    flex-grow: 0;
    text-align: center;
    background: linear-gradient(to right, #25aae2, #2d5fab);
    color: #fff;
    padding: 16px 0 14px 0;
    text-decoration: none;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
}

.client-logo:last-child {
    margin-right: 0;
}
.client-logo {
    flex: 0 0 calc(20% - 20px);
    margin-right: 20px;
    overflow: hidden;
    transition: transform 0.5s ease;
    flex-shrink: 0;
}

.client-logo:last-child {
    margin-right: 0;
}


.client-logo img {
    display: inline-block;
    width: 100%;
}

.contact-container {
    background: #f9f9f9;
    padding-bottom: 100px;
}

.contact-title-tangerine {
    color: #FF601A;
}

.contact-info {
    width: 45%;
    margin-bottom: 40px;
}

.contact-partner-item {
    margin-right: 20px;
    border-top: 4px solid var(--simgTangerine);
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px !important;
}
.contact-product-item {
    width: 50%;
    margin-left: 20px;
    border-top: 4px solid var(--simgBlue);
    background-color: var(--white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px 40px !important;
}

.contact-item-title {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

.contact-item-subMessage {
    color: #141A37;
    font-size: 16px;
    padding-bottom: 10px;
}

.contact-item-subMessage:last-child {
    padding-bottom: 0;
}

.contact-map {
    width: 100%;
    max-width: 680px;
    margin-bottom: 40px;
    height: 450px;
    margin-top: 30px ;
    background-color: #e8e8e8;
}

.contact-form {
    margin-top: 40px;
    display: block;
    width: 100%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-top: 2px solid  #000;
    border-bottom: 2px solid  #000;
    position: relative;
}

.contact-form-title {
    padding: 40px 0 0 40px;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    color: #000;
}

.contact-button {
    font-size: 20px;
    display: block;
    flex-grow: 0;
    text-align: center;
    align-content: center;
    background: linear-gradient(to right, #25aae2, #2d5fab);
    color: #fff;
    padding: 18px 40px 15px 40px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}

.error {
    color: #F65633;
    position: relative;
}

input:focus {
    utline: none;
}

#external-content {
    display: block;
    border: 1px solid red;
    width: 100%;
    height: 100%;
}

.footer-container {
    height: 300px;
    background-color: #333;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
}

.footer-info-section {
    padding-top: 30px;
    width: 30%;
}

.footer-info-detail-section {
    width: 70%;
    display: flex;
    justify-content:space-around
}

.footer-info-detail-section1 {
    padding-top: 40px;
    padding-left: 20px;
}

.footer-info-detail-section2 {
    padding-top: 40px;
    padding-left: 20px;
}

.footer-logo {
    width: 180px;
}

.footer-subtitle {
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #999;
}

.social-icons {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.social-icons img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.youtube-maketing-button,
.blog-maketing-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 12px 9px 6px 9px;
    background-color: #5e5e5e;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.youtube-marketing-button:last-child {
    margin-right: 0;
}

.footer-info-title {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
}

.footer-info-detail-section1 p,
.footer-info-detail-section2 p {
    margin: 5px 0;
    font-size: 16px;
    color: #999999;
}

.footer-bottom {
    height: 70px;
    width: 100%;
    text-align: left;
    border: 1px solid #444;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.privacy {
    display: block;
    position: absolute;
    left: 260px;
    top:20px;
}

.privacy a {
    color: #999;
    text-decoration: none;
    margin-right: 20px;
    font-size: 13px;
}

.copyright {
    font-size: 13px;
    position: absolute;
    transform: translateX(-50%);
    color: #999;
    top:4-0px;
    left: 50%;
}

.flagList {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: space-between;
}

.flagList img {
    align-content: center;
    height: 16px;
    padding-top: 16px !important;
    margin-bottom: 10px !important;
}

/* About Us */

.about-us-container {
    overflow: visible;
    text-align: center;
    align-items: center;
}

.about-us-title {
    padding-top: 70px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.about-us-message {
    padding-bottom: 60px;
    font-size: 18px;
    color: #141A37;
    text-align: left;
    white-space: pre-line
}

.milestones-container {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.milestones-list {
    display: flex;
    justify-content: center;
}

.milestones-item {
    background: #fff;
    width: calc(30% - 10px);
    border-top: 4px solid #2D6BB3;
    margin: 0 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.milestones-item:first-child {
    border-top: 4px solid #000;
    margin: 0 0;
}

.milestones-item:last-child {
    border-top: 4px solid #FF601A;
    margin: 0 0;
}

.milestones-item-title {
    font-size: 24px;
    font-weight: 700;
}

.milestones-item-sub-title {
    font-size: 18px;
    color: #8C8C8C;
}

.milestones-item-contents {
    margin-top: 30px;
    font-size: 16px;
    color: #000;
}

.milestones-item-contents li {
    margin: 0 30px;
    font-size: 16px;
    list-style: inside;
    text-indent: -22px;
}

/* News */

.latest-news-container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.latest-news-list {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
}
.latest-news-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}
.latest-news-item:last-child {
    padding-bottom: 0;
}

.latest-news-info {
    padding-left: 30px;
}

.latest-news-info-title {
    font-size: 24px;
    font-weight: bold;
}

.latest-news-info-date {
    font-size: 14px;
}

.latest-news-info-description {
    font-size: 16px;
}
#paging {
    list-style: none;
    padding-top: 40px !important;
    padding-bottom: 60px !important;
    text-align: center;
}

#paging li:nth-child(-n+12) {
    display: inline-block;
}

#paging li {
    display: inline;
    margin: 0 3px;
}

#paging li {
    display: none; /* 기본적으로 모든 항목을 숨깁니다 */
}

#paging li:first-child,
#paging li:nth-child(2),
#paging li:last-child,
#paging li:nth-last-child(2) {
    display: inline-block; /* 기본적으로 맨 처음, 이전, 맨 마지막, 다음 항목은 항상 표시 */
}

#paging li a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #5e5e5e;
    padding: 10px 16px;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

#paging li a:hover, #paging li a:focus {
    background-color: #25AAE2;
    color: white;
}

#paging li a.current {
    background-color: #25AAE2;
    color: white;
    border-color: #007BFF;
}

/* Award Certificate */

.award-certificate-container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.award-certificate-list {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.award-certificate-item {
    padding: 20px;
    text-align: center;
}

.award-certificate-item img {
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.award-certificate-item img:hover {
    transform: scale(1.1);
}

/* Our Clients */

.our-clients-container {
    padding-top: 80px;
    padding-bottom: 20px;
}

.our-clients-list {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.our-clients-item {
    padding: 20px;
    text-align: center;
}

.our-clients-item img {
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.our-clients-item img:hover {
    transform: scale(1.1);
}


/* .our-clients-list {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.our-clients-item {
    padding: 20px;
    text-align: center;
}

.our-clients-item img {
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.our-clients-item img:hover {
    transform: scale(1.1);
} */

.business-container {
    padding-top: 60px;
    padding-bottom: 100px;
}

/* Products */

.product-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.product-list {
    width: 100%;
    display:flex;
}

.product-item {
    margin: 0 20px;
    border: 1px solid red;
    display: block;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.product-item:first-child {
    margin-left: 0;
}

.product-item:last-child {
    margin-right: 0;
}

.product-item-title {
    padding: 20px 20px 0 20px;
    font-size: 24px;
    font-weight: bold;
}
.product-item-sub-title {
    padding: 0 20px 20px 20px;
    font-size: 16px;
    color: #FF601A;
}

.product-item img {
    padding: 10px;
    transition: transform 0.3s ease;
}

.product-item img:hover {
    transform: scale(1.1);
}

/* Business */

.contact-menu-container {
    padding-top: 80px;
    padding-bottom: 100px;
}